nav {
  padding: 19px 24px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-menu {
  width: 16px;
  height: 15px;
}

.icon-avatar {
  margin-left: 2.2rem;
  width: 24px;
  height: 24px;
}
