.container {
  display: flex;
  flex-direction: column;
}

.product {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__image {
    &__wrapper {
    }
  }
  &__info {
    &__wrapper {
    }
  }
}

.main-image {
  height: 300px;
  width: 100%;
}
